.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  row-gap: 28px;
  margin-left: 80px;
  margin: 183px 0 24px;
  display: block;
  color: #000000;
}

.span-accent {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  line-height: 72px;
  color: #2f80ed;
}

.header__decription {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  color: #000000;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  left: 80px;
  right: 80px;
  bottom: 40px;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

/* PARTE 1.2. Seção: Receitas */
.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 24px;
  color: white;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  padding: 40px;
}

.recipes__iframe {
  border: none;
  height: 273px;
  margin-bottom: 24px;
  width: 100%;
}

.recipes__video-caption {
  font-weight: 500;
  display: flex;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
  color: white;
}
